<ul>
  <li><%= link_to "Howard", ltrainsave_path(rt: "Red", destNm: "95th", staNm: "Howard", stpId: "30174"), class: "custom-button" %></li>
  <li><%= link_to "Jarvis", ltrainsave_path(rt: "Red", destNm: "95th", staNm: "Jarvis", stpId: "30228"), class: "custom-button" %></li>
  <li><%= link_to "Morse", ltrainsave_path(rt: "Red", destNm: "95th", staNm: "Morse", stpId: "30021"), class: "custom-button" %></li>
  <li><%= link_to "Loyola", ltrainsave_path(rt: "Red", destNm: "95th", staNm: "Loyola", stpId: "30252"), class: "custom-button" %></li>
  <li><%= link_to "Granville", ltrainsave_path(rt: "Red", destNm: "95th", staNm: "Granville", stpId: "30148"), class: "custom-button" %></li>
  <li><%= link_to "Thorndale", ltrainsave_path(rt: "Red", destNm: "95th", staNm: "Thorndale", stpId: "30170"), class: "custom-button" %></li>
  <li><%= link_to "Bryn Mawr", ltrainsave_path(rt: "Red", destNm: "95th", staNm: "Bryn Mawr", stpId: "30268"), class: "custom-button" %></li>
  <li><%= link_to "Berwyn", ltrainsave_path(rt: "Red", destNm: "95th", staNm: "Berwyn", stpId: "30067"), class: "custom-button" %></li>
  <li><%= link_to "Argyle", ltrainsave_path(rt: "Red", destNm: "95th", staNm: "Argyle", stpId: "30230"), class: "custom-button" %></li>
  <li><%= link_to "Lawrence", ltrainsave_path(rt: "Red", destNm: "95th", staNm: "Lawrence", stpId: "30150"), class: "custom-button" %></li>
  <li><%= link_to "Wilson", ltrainsave_path(rt: "Red", destNm: "95th", staNm: "Wilson", stpId: "30106"), class: "custom-button" %></li>
  <li><%= link_to "Sheridan", ltrainsave_path(rt: "Red", destNm: "95th", staNm: "Sheridan", stpId: "30017"), class: "custom-button" %></li>
  <li><%= link_to "Sheridan", ltrainsave_path(rt: "Red", destNm: "95th", staNm: "Sheridan", stpId: "30294"), class: "custom-button" %></li>
  <li><%= link_to "Addison", ltrainsave_path(rt: "Red", destNm: "95th", staNm: "Addison", stpId: "30274"), class: "custom-button" %></li>
  <li><%= link_to "Belmont", ltrainsave_path(rt: "Red", destNm: "95th", staNm: "Belmont", stpId: "30256"), class: "custom-button" %></li>
  <li><%= link_to "Fullerton", ltrainsave_path(rt: "Red", destNm: "95th", staNm: "Fullerton", stpId: "30234"), class: "custom-button" %></li>
  <li><%= link_to "North/Clybourn", ltrainsave_path(rt: "Red", destNm: "95th", staNm: "North/Clybourn", stpId: "30126"), class: "custom-button" %></li>
  <li><%= link_to "Clark/Division", ltrainsave_path(rt: "Red", destNm: "95th", staNm: "Clark/Division", stpId: "30122"), class: "custom-button" %></li>
  <li><%= link_to "Chicago", ltrainsave_path(rt: "Red", destNm: "95th", staNm: "Chicago", stpId: "30280"), class: "custom-button" %></li>
  <li><%= link_to "Grand", ltrainsave_path(rt: "Red", destNm: "95th", staNm: "Grand", stpId: "30065"), class: "custom-button" %></li>
  <li><%= link_to "Lake", ltrainsave_path(rt: "Red", destNm: "95th", staNm: "Lake", stpId: "30290"), class: "custom-button" %></li>
  <li><%= link_to "Monroe", ltrainsave_path(rt: "Red", destNm: "95th", staNm: "Monroe", stpId: "30212"), class: "custom-button" %></li>
  <li><%= link_to "Jackson", ltrainsave_path(rt: "Red", destNm: "95th", staNm: "Jackson", stpId: "30110"), class: "custom-button" %></li>
  <li><%= link_to "Harrison", ltrainsave_path(rt: "Red", destNm: "95th", staNm: "Harrison", stpId: "30286"), class: "custom-button" %></li>
  <li><%= link_to "Roosevelt", ltrainsave_path(rt: "Red", destNm: "95th", staNm: "Roosevelt", stpId: "30270"), class: "custom-button" %></li>
  <li><%= link_to "Chinatown", ltrainsave_path(rt: "Red", destNm: "95th", staNm: "Chinatown", stpId: "30194"), class: "custom-button" %></li>
  <li><%= link_to "Sox-35th", ltrainsave_path(rt: "Red", destNm: "95th", staNm: "Sox-35th", stpId: "30037"), class: "custom-button" %></li>
  <li><%= link_to "47th", ltrainsave_path(rt: "Red", destNm: "95th", staNm: "47th", stpId: "30238"), class: "custom-button" %></li>
  <li><%= link_to "63rd", ltrainsave_path(rt: "Red", destNm: "95th", staNm: "63rd", stpId: "30178"), class: "custom-button" %></li>
  <li><%= link_to "Garfield", ltrainsave_path(rt: "Red", destNm: "95th", staNm: "Garfield", stpId: "30224"), class: "custom-button" %></li>
  <li><%= link_to "69th", ltrainsave_path(rt: "Red", destNm: "95th", staNm: "69th", stpId: "30192"), class: "custom-button" %></li>
  <li><%= link_to "79th", ltrainsave_path(rt: "Red", destNm: "95th", staNm: "79th", stpId: "30047"), class: "custom-button" %></li>
  <li><%= link_to "87th", ltrainsave_path(rt: "Red", destNm: "95th", staNm: "87th", stpId: "30276"), class: "custom-button" %></li>
  <li><%= link_to "95th/Dan Ryan", ltrainsave_path(rt: "Red", destNm: "95th", staNm: "95th/Dan Ryan", stpId: "30089"), class: "custom-button" %></li>
</ul>
