<li id="bus-<%= bus.id %>">
  <span class="name"><%= bus.name %></span>
  <span class="rt"><%= bus.rt %></span>
  <span class="rtnm"><%= bus.rtnm %></span>
  <span class="stpnm"><%= bus.stpnm %></span>
</li>
