<div class = "routesave">
  <div class = "savert">
    <p><%= "Bus Route " + @rt %></p>
    <p><%= "Bus Stop: " + @stpnm%></p>
  </div>
</div>
<div class = "route-save-button">
  <%= form_for :bus do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.hidden_field :rt, :value => @rt %>
    <%= f.hidden_field :rtnm, :value => @rtnm %>
    <%= f.hidden_field :rtdir, :value => @rtdir %>
    <%= f.hidden_field :stpid, :value => @stpid %>
    <%= f.hidden_field :stpnm, :value => @stpnm %>
  </div>
  <%= f.submit "Save", class: "route-button" %>
  <% end %>
</div>
