<h2><%= "Bus Route " + @rt %></h2>
<h2><%= "Bus Stop: " + @stpnm%></h2>

<%= form_for :bus do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.hidden_field :rt, :value => @rt %>
    <%= f.hidden_field :rtnm, :value => @rtnm %>
    <%= f.hidden_field :rtdir, :value => @rtdir %>
    <%= f.hidden_field :stpid, :value => @stpid %>
    <%= f.hidden_field :stpnm, :value => @stpnm %>
  </div>
  <%= f.submit "Save", class: "custom-button" %>
<% end %>
