<li id="bus-<%= bus.id %>">
  <span class="name"><%= bus.name %></span>
  <span class="rt"><%= bus.rt %></span>
  <span class="rtnm"><%= bus.rtnm %></span>
  <span class="stpnm"><%= bus.stpnm %></span>
  <span class = "time">8 min</span>
  <span class = "time">12 min</span>
  <span class = "time">20 min</span>
</li>
