<li><%= link_to "Forest Park", ltrainsave_path(rt: "Blue", destNm: "O’Hare", staNm: "Forest Park", stpId: "30076"), class: "route-button" %></li>
<li><%= link_to "Harlem", ltrainsave_path(rt: "Blue", destNm: "O’Hare", staNm: "Harlem", stpId: "30189"), class: "route-button" %></li>
<li><%= link_to "Oak Park", ltrainsave_path(rt: "Blue", destNm: "O’Hare", staNm: "Oak Park", stpId: "30034"), class: "route-button" %></li>
<li><%= link_to "Austin", ltrainsave_path(rt: "Blue", destNm: "O’Hare", staNm: "Austin", stpId: "30001"), class: "route-button" %></li>
<li><%= link_to "Cicero", ltrainsave_path(rt: "Blue", destNm: "O’Hare", staNm: "Cicero", stpId: "30187"), class: "route-button" %></li>
<li><%= link_to "Pulaski", ltrainsave_path(rt: "Blue", destNm: "O’Hare", staNm: "Pulaski", stpId: "30179"), class: "route-button" %></li>
<li><%= link_to "Kedzie-Homan", ltrainsave_path(rt: "Blue", destNm: "O’Hare", staNm: "Kedzie-Homan", stpId: "30048"), class: "route-button" %></li>
<li><%= link_to "Western", ltrainsave_path(rt: "Blue", destNm: "O’Hare", staNm: "Western", stpId: "30042"), class: "route-button" %></li>
<li><%= link_to "Illinois Medical District", ltrainsave_path(rt: "Blue", destNm: "O’Hare", staNm: "Illinois Medical District", stpId: "30157"), class: "route-button" %></li>
<li><%= link_to "Racine", ltrainsave_path(rt: "Blue", destNm: "O’Hare", staNm: "Racine", stpId: "30092"), class: "route-button" %></li>
<li><%= link_to "UIC-Halsted", ltrainsave_path(rt: "Blue", destNm: "O’Hare", staNm: "	UIC-Halsted", stpId: "30068"), class: "route-button" %></li>
<li><%= link_to "Clinton", ltrainsave_path(rt: "Blue", destNm: "O’Hare", staNm: "Clinton", stpId: "30084"), class: "route-button" %></li>
<li><%= link_to "LaSalle", ltrainsave_path(rt: "Blue", destNm: "O’Hare", staNm: "LaSalle", stpId: "30261"), class: "route-button" %></li>
<li><%= link_to "Jackson", ltrainsave_path(rt: "Blue", destNm: "O’Hare", staNm: "Jackson", stpId: "30014"), class: "route-button" %></li>
<li><%= link_to "Monroe", ltrainsave_path(rt: "Blue", destNm: "O’Hare", staNm: "Monroe", stpId: "30153"), class: "route-button" %></li>
<li><%= link_to "Washington", ltrainsave_path(rt: "Blue", destNm: "O’Hare", staNm: "Washington", stpId: "30072"), class: "route-button" %></li>
<li><%= link_to "Clark/Lake", ltrainsave_path(rt: "Blue", destNm: "O’Hare", staNm: "Clark/Lake", stpId: "30375"), class: "route-button" %></li>
<li><%= link_to "Grand", ltrainsave_path(rt: "Blue", destNm: "O’Hare", staNm: "Grand", stpId: "30095"), class: "route-button" %></li>
<li><%= link_to "Chicago", ltrainsave_path(rt: "Blue", destNm: "O’Hare", staNm: "Chicago", stpId: "30271"), class: "route-button" %></li>
<li><%= link_to "Division", ltrainsave_path(rt: "Blue", destNm: "O’Hare", staNm: "Division", stpId: "30062"), class: "route-button" %></li>
<li><%= link_to "Damen", ltrainsave_path(rt: "Blue", destNm: "O’Hare", staNm: "Damen", stpId: "30115"), class: "route-button" %></li>
<li><%= link_to "Western", ltrainsave_path(rt: "Blue", destNm: "O’Hare", staNm: "Western", stpId: "30129"), class: "route-button" %></li>
<li><%= link_to "California", ltrainsave_path(rt: "Blue", destNm: "O’Hare", staNm: "California", stpId: "30111"), class: "route-button" %></li>
<li><%= link_to "Logan Square", ltrainsave_path(rt: "Blue", destNm: "O’Hare", staNm: "Logan Square", stpId: "30197"), class: "route-button" %></li>
<li><%= link_to "Belmont", ltrainsave_path(rt: "Blue", destNm: "O’Hare", staNm: "Belmont", stpId: "30012"), class: "route-button" %></li>
<li><%= link_to "Addison", ltrainsave_path(rt: "Blue", destNm: "O’Hare", staNm: "Addison", stpId: "30239"), class: "route-button" %></li>
<li><%= link_to "Irving Park", ltrainsave_path(rt: "Blue", destNm: "O’Hare", staNm: "Irving Park", stpId: "30107"), class: "route-button" %></li>
<li><%= link_to "Montrose", ltrainsave_path(rt:	"Blue", destNm: "O’Hare", staNm: "Montrose", stpId: "30259"), class: "route-button" %></li>
<li><%= link_to "Jefferson Park", ltrainsave_path(rt: "Blue", destNm: "O’Hare", staNm: "Jefferson Park", stpId: "30247"), class: "route-button" %></li>
<li><%= link_to "Harlem", ltrainsave_path(rt: "Blue", destNm: "O’Hare", staNm: "Harlem", stpId: "30145"), class: "route-button" %></li>
<li><%= link_to "Cumberland", ltrainsave_path(rt: "Blue", destNm: "O’Hare", staNm: "Cumberland", stpId: "30044"), class: "route-button" %></li>
<li><%= link_to "Rosemont", ltrainsave_path(rt: "Blue", destNm: "O’Hare", staNm: "Rosemont", stpId: "30159"), class: "route-button" %></li>
