<li><%= link_to "O'Hare", ltrainsave_path(rt: "Blue", destNm: "Forest Park", staNm: "O'Hare", stpId: "30172"), class: "route-button" %></li>
<li><%= link_to "Rosemont", ltrainsave_path(rt: "Blue", destNm: "Forest Park", staNm: "Rosemont", stpId: "30160"), class: "route-button" %></li>
<li><%= link_to "Cumberland", ltrainsave_path(rt: "Blue", destNm: "Forest Park", staNm: "Cumberland", stpId: "30045"), class: "route-button" %></li>
<li><%= link_to "Harlem", ltrainsave_path(rt: "Blue", destNm: "Forest Park", staNm: "Harlem", stpId: "30146"), class: "route-button" %></li>
<li><%= link_to "Jefferson Park", ltrainsave_path(rt: "Blue", destNm: "Forest Park", staNm: "Jefferson Park", stpId: "30248"), class: "route-button" %></li>
<li><%= link_to "Montrose", ltrainsave_path(rt: "Blue", destNm: "Forest Park", staNm: "Montrose", stpId: "30260"), class: "route-button" %></li>
<li><%= link_to "Irving Park", ltrainsave_path(rt: "Blue", destNm: "Forest Park	", staNm: "Irving Park", stpId: "30108"), class: "route-button" %></li>
<li><%= link_to "Addison", ltrainsave_path(rt: "Blue", destNm: "Forest Park", staNm: "Addison", stpId: "30240"), class: "route-button" %></li>
<li><%= link_to "Belmont", ltrainsave_path(rt: "Blue", destNm: "Forest Park", staNm: "Belmont", stpId: "30013"), class: "route-button" %></li>
<li><%= link_to "Logan Square", ltrainsave_path(rt: "Blue", destNm: "Forest Park", staNm: "Logan Square", stpId: "30198"), class: "route-button" %></li>
<li><%= link_to "California", ltrainsave_path(rt: "Blue", destNm: "Forest Park", staNm: "California", stpId: "30112"), class: "route-button" %></li>
<li><%= link_to "Western", ltrainsave_path(rt: "Blue", destNm: "Forest Park", staNm: "Western", stpId: "30130"), class: "route-button" %></li>
<li><%= link_to "Damen", ltrainsave_path(rt: "Blue", destNm: "Forest Park", staNm: "Damen", stpId: "30116"), class: "route-button" %></li>
<li><%= link_to "Division", ltrainsave_path(rt: "Blue", destNm: "Forest Park", staNm: "Division", stpId: "30063"), class: "route-button" %></li>
<li><%= link_to "Chicago", ltrainsave_path(rt: "Blue", destNm: "Forest Park", staNm: "Chicago", stpId: "30272"), class: "route-button" %></li>
<li><%= link_to "Grand", ltrainsave_path(rt: "Blue", destNm: "Forest Park", staNm: "Grand", stpId: "30096"), class: "route-button" %></li>
<li><%= link_to "Clark/Lake", ltrainsave_path(rt: "Blue", destNm: "Forest Park", staNm: "Clark/Lake", stpId: "30374"), class: "route-button" %></li>
<li><%= link_to "Washington", ltrainsave_path(rt: "Blue", destNm: "Forest Park", staNm: "Washington", stpId: "30073"), class: "route-button" %></li>
<li><%= link_to "Monroe", ltrainsave_path(rt: "Blue", destNm: "Forest Park", staNm: "Monroe", stpId: "30154"), class: "route-button" %></li>
<li><%= link_to "Jackson", ltrainsave_path(rt: "Blue", destNm: "Forest Park", staNm: "Jackson", stpId: "30015"), class: "route-button" %></li>
<li><%= link_to "LaSalle", ltrainsave_path(rt: "Blue", destNm: "Forest Park", staNm: "LaSalle", stpId: "30262"), class: "route-button" %></li>
<li><%= link_to "Clinton", ltrainsave_path(rt: "Blue", destNm: "Forest Park", staNm: "Clinton", stpId: "30085"), class: "route-button" %></li>
<li><%= link_to "UIC-Halsted", ltrainsave_path(rt: "Blue", destNm: "Forest Park", staNm: "UIC-Halsted", stpId: "30069"), class: "route-button" %></li>
<li><%= link_to "Racine", ltrainsave_path(rt: "Blue", destNm: "Forest Park", staNm: "Racine", stpId: "30093"), class: "route-button" %></li>
<li><%= link_to "Illinois Medical District", ltrainsave_path(rt: "Blue", destNm: "Forest Park", staNm: "Illinois Medical District", stpId: "30158"), class: "route-button" %></li>
<li><%= link_to "Western", ltrainsave_path(rt: "Blue", destNm: "Forest Park", staNm: "Western", stpId: "30043"), class: "route-button" %></li>
<li><%= link_to "Kedzie-Homan", ltrainsave_path(rt: "Blue", destNm: "Forest Park", staNm: "Kedzie-Homan", stpId: "30049"), class: "route-button" %></li>
<li><%= link_to "Pulaski", ltrainsave_path(rt: "Blue", destNm: "Forest Park", staNm: "Pulaski", stpId: "30180"), class: "route-button" %></li>
<li><%= link_to "Cicero", ltrainsave_path(rt: "Blue", destNm: "Forest Park", staNm: "Cicero", stpId: "30188"), class: "route-button" %></li>
<li><%= link_to "Austin", ltrainsave_path(rt: "Blue", destNm: "Forest Park", staNm: "Austin", stpId: "30002"), class: "route-button" %></li>
<li><%= link_to "Oak Park", ltrainsave_path(rt: "Blue", destNm: "Forest Park", staNm: "Oak Park", stpId: "30035"), class: "route-button" %></li>
<li><%= link_to "Harlem", ltrainsave_path(rt: "Blue", destNm: "Forest Park", staNm: "Harlem", stpId: "30190"), class: "route-button" %></li>
