<li><%= link_to "Kimball", ltrainsave_path(rt: "Brn", destNm: "Loop", staNm: "Kimball", stpId: "30250"), class: "route-button" %></li>
<li><%= link_to "Kedzie", ltrainsave_path(rt: "Brn", destNm: "Loop", staNm: "Kedzie", stpId: "30226"), class: "route-button" %></li>
<li><%= link_to "Francisco", ltrainsave_path(rt: "Brn", destNm: "Loop", staNm: "Francisco", stpId: "30168"), class: "route-button" %></li>
<li><%= link_to "Rockwell", ltrainsave_path(rt: "Brn", destNm: "Loop", staNm: "Rockwell", stpId: "30196"), class: "route-button" %></li>
<li><%= link_to "Western", ltrainsave_path(rt: "Brn", destNm: "Loop", staNm: "Western", stpId: "30284"), class: "route-button" %></li>
<li><%= link_to "Damen", ltrainsave_path(rt: "Brn", destNm: "Loop", staNm: "Damen", stpId: "30019"), class: "route-button" %></li>
<li><%= link_to "Montrose", ltrainsave_path(rt: "Brn", destNm: "Loop", staNm: "Montrose", stpId: "30288"), class: "route-button" %></li>
<li><%= link_to "Irving Park", ltrainsave_path(rt: "Brn", destNm: "Loop", staNm: "Irving Park", stpId: "30282"), class: "route-button" %></li>
<li><%= link_to "Addison", ltrainsave_path(rt: "Brn", destNm: "Loop", staNm: "Addison", stpId: "30278"), class: "route-button" %></li>
<li><%= link_to "Paulina", ltrainsave_path(rt: "Brn", destNm: "Loop", staNm: "Paulina", stpId: "30254"), class: "route-button" %></li>
<li><%= link_to "Southport", ltrainsave_path(rt: "Brn", destNm: "Loop", staNm: "Southport", stpId: "30071"), class: "route-button" %></li>
<li><%= link_to "Belmont", ltrainsave_path(rt: "Brn", destNm: "Loop", staNm: "Belmont", stpId: "30258"), class: "route-button" %></li>
<li><%= link_to "Wellington", ltrainsave_path(rt: "Brn", destNm: "Loop", staNm: "Wellington", stpId: "30232"), class: "route-button" %></li>
<li><%= link_to "Diversey", ltrainsave_path(rt: "Brn", destNm: "Loop", staNm: "Diversey", stpId: "30104"), class: "route-button" %></li>
<li><%= link_to "Fullerton", ltrainsave_path(rt: "Brn", destNm: "Loop", staNm: "Fullerton", stpId: "30236"), class: "route-button" %></li>
<li><%= link_to "Armitage", ltrainsave_path(rt: "Brn", destNm: "Loop", staNm: "Armitage", stpId: "30128"), class: "route-button" %></li>
<li><%= link_to "Sedgwick", ltrainsave_path(rt: "Brn", destNm: "Loop", staNm: "Sedgwick", stpId: "30156"), class: "route-button" %></li>
<li><%= link_to "Chicago", ltrainsave_path(rt: "Brn", destNm: "Loop", staNm: "Chicago", stpId: "30138"), class: "route-button" %></li>
<li><%= link_to "Merchandise Mart", ltrainsave_path(rt: "Brn", destNm: "Loop", staNm: "Merchandise Mart", stpId: "30091"), class: "route-button" %></li>
