<li><%= link_to "Ashland/63rd", ltrainsave_path(rt: "G", destNm: "Harlem", staNm: "Ashland/63rd", stpId: "30056"), class: "route-button" %></li>
<li><%= link_to "Halsted", ltrainsave_path(rt: "G", destNm: "Harlem", staNm: "Halsted", stpId: "30183"), class: "route-button" %></li>
<li><%= link_to "Cottage Grove", ltrainsave_path(rt: "G", destNm: "Harlem", staNm: "Cottage Grove", stpId: "30140"), class: "route-button" %></li>
<li><%= link_to "	King Drive", ltrainsave_path(rt: "G", destNm: "Harlem", staNm: "King Drive", stpId: "30218"), class: "route-button" %></li>
<li><%= link_to "	Garfield", ltrainsave_path(rt: "G", destNm: "Harlem", staNm: "Garfield", stpId: "30099"), class: "route-button" %></li>
<li><%= link_to "	51st", ltrainsave_path(rt: "G", destNm: "Harlem", staNm: "51st", stpId: "30024"), class: "route-button" %></li>
<li><%= link_to "	47th", ltrainsave_path(rt: "G", destNm: "Harlem", staNm: "47th", stpId: "30209"), class: "route-button" %></li>
<li><%= link_to "	43rd", ltrainsave_path(rt: "G", destNm: "Harlem", staNm: "43rd", stpId: "30245"), class: "route-button" %></li>
<li><%= link_to "	Indiana", ltrainsave_path(rt: "G", destNm: "Harlem", staNm: "Indiana", stpId: "30058"), class: "route-button" %></li>
<li><%= link_to "	35th-Bronzeville-IIT", ltrainsave_path(rt: "G", destNm: "Harlem", staNm: "35th-Bronzeville-IIT", stpId: "30213"), class: "route-button" %></li>
<li><%= link_to "	Cermak-McCormick Place", ltrainsave_path(rt: "G", destNm: "Harlem", staNm: "Cermak-McCormick Place", stpId: "30381"), class: "route-button" %></li>
<li><%= link_to "	Roosevelt", ltrainsave_path(rt: "G", destNm: "Harlem", staNm: "Roosevelt", stpId: "30080"), class: "route-button" %></li>
<li><%= link_to "	Adams/Wabash", ltrainsave_path(rt: "G", destNm: "Harlem", staNm: "Adams/Wabash", stpId: "30131"), class: "route-button" %></li>
<li><%= link_to "	Randolph/Wabash", ltrainsave_path(rt: "G", destNm: "Harlem", staNm: "Randolph/Wabash", stpId: "30038"), class: "route-button" %></li>
<li><%= link_to "	State/Lake", ltrainsave_path(rt: "G", destNm: "Harlem", staNm: "State/Lake", stpId: "30051"), class: "route-button" %></li>
<li><%= link_to "	Clark/Lake", ltrainsave_path(rt: "G", destNm: "Harlem", staNm: "Clark/Lake", stpId: "30075"), class: "route-button" %></li>
<li><%= link_to "	Clinton", ltrainsave_path(rt: "G", destNm: "Harlem", staNm: "Clinton", stpId: "30222"), class: "route-button" %></li>
<li><%= link_to "	Morgan", ltrainsave_path(rt: "G", destNm: "Harlem", staNm: "Morgan", stpId: "30296"), class: "route-button" %></li>
<li><%= link_to "	Ashland", ltrainsave_path(rt: "G", destNm: "Harlem", staNm: "Ashland", stpId: "30032"), class: "route-button" %></li>
<li><%= link_to "	California", ltrainsave_path(rt: "G", destNm: "Harlem", staNm: "California", stpId: "30266"), class: "route-button" %></li>
<li><%= link_to "	Kedzie", ltrainsave_path(rt: "G", destNm: "Harlem", staNm: "Kedzie", stpId: "30208"), class: "route-button" %></li>
<li><%= link_to "	Conservatory", ltrainsave_path(rt: "G", destNm: "Harlem	", staNm: "Conservatory", stpId: "30292"), class: "route-button" %></li>
<li><%= link_to "	Pulaski", ltrainsave_path(rt: "G", destNm: "Harlem", staNm: "Pulaski", stpId: "30006"), class: "route-button" %></li>
<li><%= link_to "	Cicero", ltrainsave_path(rt: "G", destNm: "Harlem", staNm: "Cicero", stpId: "30009"), class: "route-button" %></li>
<li><%= link_to "	Laramie", ltrainsave_path(rt: "G", destNm: "Harlem", staNm: "Laramie", stpId: "30136"), class: "route-button" %></li>
<li><%= link_to "	Central", ltrainsave_path(rt: "G", destNm: "Harlem", staNm: "Central", stpId: "30055"), class: "route-button" %></li>
<li><%= link_to "	Austin", ltrainsave_path(rt: "G", destNm: "Harlem", staNm: "Austin", stpId: "30244"), class: "route-button" %></li>
<li><%= link_to "	Ridgeland", ltrainsave_path(rt: "G", destNm: "Harlem", staNm: "Ridgeland", stpId: "30120"), class: "route-button" %></li>
<li><%= link_to "	Oak Park", ltrainsave_path(rt: "G", destNm: "Harlem", staNm: "Oak Park", stpId: "30264"), class: "route-button" %></li>
