<li><%= link_to "Harlem/Lake", ltrainsave_path(rt: "G", destNm: "Ashland/63rd/Cottage Grove", staNm: "Harlem/Lake", stpId: "30003"), class: "route-button" %></li>
<li><%= link_to "Oak Park", ltrainsave_path(rt: "G", destNm: "Ashland/63rd/Cottage Grove", staNm: "Oak Park", stpId: "30263"), class: "route-button" %></li>
<li><%= link_to "Ridgeland", ltrainsave_path(rt: "G", destNm: "Ashland/63rd/Cottage Grove", staNm: "Ridgeland", stpId: "30119"), class: "route-button" %></li>
<li><%= link_to "Austin", ltrainsave_path(rt: "G", destNm: "Ashland/63rd/Cottage Grove", staNm: "Austin", stpId: "30243"), class: "route-button" %></li>
<li><%= link_to "Central", ltrainsave_path(rt: "G", destNm: "Ashland/63rd/Cottage Grove", staNm: "Central", stpId: "30054"), class: "route-button" %></li>
<li><%= link_to "Laramie", ltrainsave_path(rt: "G", destNm: "Ashland/63rd/Cottage Grove", staNm: "Laramie", stpId: "30135"), class: "route-button" %></li>
<li><%= link_to "Cicero", ltrainsave_path(rt: "G", destNm: "Ashland/63rd/Cottage Grove", staNm: "Cicero", stpId: "30094"), class: "route-button" %></li>
<li><%= link_to "Pulaski", ltrainsave_path(rt: "G", destNm: "Ashland/63rd/Cottage Grove", staNm: "Pulaski", stpId: "30005"), class: "route-button" %></li>
<li><%= link_to "Conservatory", ltrainsave_path(rt: "G", destNm: "Ashland/63rd/Cottage Grove", staNm: "Conservatory", stpId: "30291"), class: "route-button" %></li>
<li><%= link_to "Kedzie", ltrainsave_path(rt: "G", destNm: "Ashland/63rd/Cottage Grove", staNm: "Kedzie", stpId: "30207"), class: "route-button" %></li>
<li><%= link_to "California", ltrainsave_path(rt: "G", destNm: "Ashland/63rd/Cottage Grove", staNm: "California", stpId: "30265"), class: "route-button" %></li>
<li><%= link_to "Ashland", ltrainsave_path(rt: "G", destNm: "Ashland/63rd/Cottage Grove", staNm: "Ashland", stpId: "30033"), class: "route-button" %></li>
<li><%= link_to "Morgan", ltrainsave_path(rt: "G", destNm: "Ashland/63rd/Cottage Grove", staNm: "Morgan", stpId: "30295"), class: "route-button" %></li>
<li><%= link_to "Clinton", ltrainsave_path(rt: "G", destNm: "Ashland/63rd/Cottage Grove", staNm: "Clinton", stpId: "30221"), class: "route-button" %></li>
<li><%= link_to "Clark/Lake", ltrainsave_path(rt: "G", destNm: "Ashland/63rd/Cottage Grove", staNm: "Clark/Lake", stpId: "30074"), class: "route-button" %></li>
<li><%= link_to "State/Lake", ltrainsave_path(rt: "G", destNm: "Ashland/63rd/Cottage Grove", staNm: "State/Lake", stpId: "30050"), class: "route-button" %></li>
<li><%= link_to "Randolph/Wabash", ltrainsave_path(rt: "G", destNm: "Ashland/63rd/Cottage Grove", staNm: "Randolph/Wabash", stpId: "30039"), class: "route-button" %></li>
<li><%= link_to "Adams/Wabash", ltrainsave_path(rt: "G", destNm: "Ashland/63rd/Cottage Grove", staNm: "Adams/Wabash", stpId: "30132"), class: "route-button" %></li>
<li><%= link_to "Roosevelt", ltrainsave_path(rt: "G", destNm: "Ashland/63rd/Cottage Grove", staNm: "Roosevelt", stpId: "30081"), class: "route-button" %></li>
<li><%= link_to "Cermak-McCormick Place", ltrainsave_path(rt: "G", destNm: "Ashland/63rd/Cottage Grove", staNm: "Cermak-McCormick Place", stpId: "30382"), class: "route-button" %></li>
<li><%= link_to "35th-Bronzeville-IIT", ltrainsave_path(rt: "G", destNm: "Ashland/63rd/Cottage Grove", staNm: "35th-Bronzeville-IIT", stpId: "30214"), class: "route-button" %></li>
<li><%= link_to "Indiana", ltrainsave_path(rt: "G", destNm: "Ashland/63rd/Cottage Grove", staNm: "Indiana", stpId: "30059"), class: "route-button" %></li>
<li><%= link_to "43rd", ltrainsave_path(rt: "G", destNm: "Ashland/63rd/Cottage Grove", staNm: "43rd", stpId: "30246"), class: "route-button" %></li>
<li><%= link_to "47th", ltrainsave_path(rt: "G", destNm: "Ashland/63rd/Cottage Grove", staNm: "47th", stpId: "30210"), class: "route-button" %></li>
<li><%= link_to "51st", ltrainsave_path(rt: "G", destNm: "Ashland/63rd/Cottage Grove", staNm: "51st", stpId: "30025"), class: "route-button" %></li>
<li><%= link_to "Garfield", ltrainsave_path(rt: "G", destNm: "Ashland/63rd/Cottage Grove", staNm: "Garfield", stpId: "30100"), class: "route-button" %></li>
<li><%= link_to "King Drive", ltrainsave_path(rt: "G", destNm: "Cottage Grove", staNm: "King Drive", stpId: "30217"), class: "route-button" %></li>
<li><%= link_to "Cottage Grove", ltrainsave_path(rt: "G", destNm: "Cottage Grove", staNm: "Cottage Grove", stpId: "30139"), class: "route-button" %></li>
<li><%= link_to "Halsted", ltrainsave_path(rt: "G", destNm: "Ashland/63rd", staNm: "Halsted", stpId: "30184"), class: "route-button" %></li>
