<li><%= link_to "54th/Cermak", ltrainsave_path(rt: "Pink", destNm: "Loop", staNm: "54th/Cermak", stpId: "30113"), class: "route-button" %></li>
<li><%= link_to "Cicero	", ltrainsave_path(rt: "Pink", destNm: "Loop", staNm: "Cicero", stpId: "30082"), class: "route-button" %></li>
<li><%= link_to "Kostner", ltrainsave_path(rt: "Pink", destNm: "Loop", staNm: "Kostner", stpId: "30117"), class: "route-button" %></li>
<li><%= link_to "Pulaski", ltrainsave_path(rt: "Pink", destNm: "Loop", staNm: "Pulaski", stpId: "30028"), class: "route-button" %></li>
<li><%= link_to "Central Park", ltrainsave_path(rt: "Pink", destNm: "Loop", staNm: "Central Park", stpId: "30151"), class: "route-button" %></li>
<li><%= link_to "Kedzie", ltrainsave_path(rt: "Pink", destNm: "Loop", staNm: "Kedzie", stpId: "30201"), class: "route-button" %></li>
<li><%= link_to "California", ltrainsave_path(rt: "Pink", destNm: "Loop", staNm: "California", stpId: "30086"), class: "route-button" %></li>
<li><%= link_to "Western", ltrainsave_path(rt: "Pink", destNm: "Loop", staNm: "Western", stpId: "30143"), class: "route-button" %></li>
<li><%= link_to "Damen", ltrainsave_path(rt: "Pink", destNm: "Loop", staNm: "Damen", stpId: "30040"), class: "route-button" %></li>
<li><%= link_to "18th", ltrainsave_path(rt: "Pink", destNm: "Loop", staNm: "18th", stpId: "30161"), class: "route-button" %></li>
<li><%= link_to "Polk", ltrainsave_path(rt: "Pink", destNm: "Loop", staNm: "Polk", stpId: "30199"), class: "route-button" %></li>
<li><%= link_to "Ashland", ltrainsave_path(rt: "Pink", destNm: "Loop", staNm: "Ashland", stpId: "30033"), class: "route-button" %></li>
<li><%= link_to "Morgan", ltrainsave_path(rt: "Pink", destNm: "Loop", staNm: "Morgan", stpId: "30295"), class: "route-button" %></li>
<li><%= link_to "Clinton", ltrainsave_path(rt: "Pink", destNm: "Loop", staNm: "Clinton", stpId: "30221"), class: "route-button" %></li>
