<li><%= link_to "Clark/Lake", ltrainsave_path(rt: "Pink", destNm: "54th/Cermak", staNm: "Clark/Lake", stpId: "30074"), class: "route-button" %></li>
<li><%= link_to "State/Lake", ltrainsave_path(rt: "Pink", destNm: "54th/Cermak", staNm: "State/Lake", stpId: "30050"), class: "route-button" %></li>
<li><%= link_to "Randolph/Wabash", ltrainsave_path(rt: "Pink", destNm: "54th/Cermak", staNm: "Randolph/Wabash", stpId: "30039"), class: "route-button" %></li>
<li><%= link_to "Adams/Wabash", ltrainsave_path(rt: "Pink", destNm: "54th/Cermak", staNm: "Adams/Wabash", stpId: "30132"), class: "route-button" %></li>
<li><%= link_to "Harold Washington Library", ltrainsave_path(rt: "Pink", destNm: "54th/Cermak", staNm: "Harold Washington Library", stpId: "30166"), class: "route-button" %></li>
<li><%= link_to "LaSalle/Van Buren", ltrainsave_path(rt: "Pink", destNm: "54th/Cermak", staNm: "LaSalle/Van Buren", stpId: "30031"), class: "route-button" %></li>
<li><%= link_to "Quincy/Wells", ltrainsave_path(rt: "Pink", destNm: "54th/Cermak", staNm: "Quincy/Wells", stpId: "30007"), class: "route-button" %></li>
<li><%= link_to "Washington/Wells", ltrainsave_path(rt: "Pink", destNm: "54th/Cermak", staNm: "Washington/Wells", stpId: "30141"), class: "route-button" %></li>
<li><%= link_to "Clinton", ltrainsave_path(rt: "Pink", destNm: "54th/Cermak", staNm: "Clinton", stpId: "30222"), class: "route-button" %></li>
<li><%= link_to "Morgan", ltrainsave_path(rt: "Pink", destNm: "54th/Cermak", staNm: "Morgan", stpId: "30296"), class: "route-button" %></li>
<li><%= link_to "Ashland", ltrainsave_path(rt: "Pink", destNm: "54th/Cermak", staNm: "Ashland", stpId: "30032"), class: "route-button" %></li>
<li><%= link_to "Polk", ltrainsave_path(rt: "Pink", destNm: "54th/Cermak", staNm: "Polk", stpId: "30200"), class: "route-button" %></li>
<li><%= link_to "18th", ltrainsave_path(rt: "Pink", destNm: "54th/Cermak", staNm: "18th", stpId: "30162"), class: "route-button" %></li>
<li><%= link_to "Damen", ltrainsave_path(rt: "Pink", destNm: "54th/Cermak", staNm: "Damen", stpId: "30041"), class: "route-button" %></li>
<li><%= link_to "Western", ltrainsave_path(rt: "Pink", destNm: "54th/Cermak", staNm: "Western", stpId: "30144"), class: "route-button" %></li>
<li><%= link_to "California", ltrainsave_path(rt: "Pink", destNm: "54th/Cermak", staNm: "California", stpId: "30087"), class: "route-button" %></li>
<li><%= link_to "Kedzie", ltrainsave_path(rt: "Pink", destNm: "54th/Cermak", staNm: "Kedzie", stpId: "30202	"), class: "route-button" %></li>
<li><%= link_to "Central Park", ltrainsave_path(rt: "Pink", destNm: "54th/Cermak", staNm: "Central Park", stpId: "30152"), class: "route-button" %></li>
<li><%= link_to "Pulaski", ltrainsave_path(rt: "Pink", destNm: "54th/Cermak", staNm: "Pulaski", stpId: "30029"), class: "route-button" %></li>
<li><%= link_to "Kostner", ltrainsave_path(rt: "Pink", destNm: "54th/Cermak", staNm: "Kostner", stpId: "30118"), class: "route-button" %></li>
<li><%= link_to "Cicero", ltrainsave_path(rt: "Pink", destNm: "54th/Cermak", staNm: "Cicero", stpId: "30083"), class: "route-button" %></li>
