<% provide(:title, @user.first_name) %>

<div class = "show-container">
  <div class = "show-left-div">
  </div>
  <div class = "show-main-div">
    <div class = "main-flex-container">
      <div class = "section-title">
        <h2>My Routes</h2>
      </div>

      <% if @user.buses.any? %>
      <div class = "routes-container">
        <div class = "routes-title">
          <h3>CTA Bus Routes</h3>
        </div>
        <div class = "route-ul">
          <ul>
          <% @bustimes.each_with_index do |bus, i| %>
          <div class = "route-li">
            <li>
              <div class = "route-flex-container">
                <div class = "rt">
                  <%= bus["bustime-response"]["prd"][0]["rt"]%>
                </div>
                <div class = "route-details">
                  <div class = "dest">
                    <%= bus["bustime-response"]["prd"][0]["des"]%>
                  </div>
                  <div class = "stop">
                    <%= bus["bustime-response"]["prd"][0]["stpnm"]%>
                  </div>
                </div>
                <div class = "time-container">
                  <div class = "time-flex-container">
                    <div class = "time">
                      <%= bus["bustime-response"]["prd"][0] ? bus["bustime-response"]["prd"][0]["prdctdn"] + " min" : "--"%>
                    </div>
                    <div class = "time">
                      <%= bus["bustime-response"]["prd"][1] ? bus["bustime-response"]["prd"][1]["prdctdn"] + " min" : "--"%>
                    </div>
                    <div class = "time">
                      <%= bus["bustime-response"]["prd"][2] ? bus["bustime-response"]["prd"][2]["prdctdn"] + " min" : "--"%>
                    </div>
                  </div>
                </div>
                <div class = "route-buttons">
                  <div class = "route-refresh-button">
                    <%= link_to "Refresh", current_user %>
                  </div>
                  <div class = "route-delete-button">
                    <%= link_to "delete", bus_path(@user.buses[i]), method: :delete,
                                                                    data: { confirm: "You sure?" } %>
                  </div>
                </div>
              </div>
            </li>
          </div>
          <%end%>
          </ul>
        </div>
      </div>
      <% end %>

      <% if @user.ltrains.any? %>
      <div class = "routes-container">
        <div class = "routes-title">
          <h3>L Routes</h3>

        </div>
        <div class = "route-ul">
          <ul>
          <% @ltraintimes.each_with_index do |ltrain, t| %>
          <div class = "route-li">
            <li>
              <div class = "route-flex-container">
                <div class = "rt">
                  <%= ltrain["ctatt"]["eta"][0]["rt"]%>
                </div>
                <div class = "route-details">
                  <div class = "dest">
                    <%= ltrain["ctatt"]["eta"][0]["destNm"]%>
                  </div>
                  <div class = "stop">
                    <%= ltrain["ctatt"]["eta"][0]["staNm"]%>
                  </div>
                </div>
                <div class = "time-container">
                  <div class = "time-flex-container">
                    <div class = "time">
                      <%= ltrain["ctatt"]["eta"][0] ? (((DateTime.parse(ltrain["ctatt"]["eta"][0]["arrT"])- DateTime.parse(ltrain["ctatt"]["tmst"]))*24*60).to_i).to_s + " min" : "--"%>
                    </div>
                    <div class = "time">
                      <%= ltrain["ctatt"]["eta"][1] ? (((DateTime.parse(ltrain["ctatt"]["eta"][1]["arrT"])- DateTime.parse(ltrain["ctatt"]["tmst"]))*24*60).to_i).to_s + " min" : "--"%>
                    </div>
                    <div class = "time">
                      <%= ltrain["ctatt"]["eta"][2] ? (((DateTime.parse(ltrain["ctatt"]["eta"][2]["arrT"])- DateTime.parse(ltrain["ctatt"]["tmst"]))*24*60).to_i).to_s + " min" : "--"%>
                    </div>
                  </div>
                </div>
                <div class = "route-buttons">
                  <div class = "route-refresh-button">
                    <%= link_to "Refresh Times", current_user %>
                  </div>
                  <div class = "route-delete-button">
                    <%= link_to "delete", ltrain_path(@user.ltrains[t]), method: :delete,
                                                                         data: { confirm: "You sure?" } %>
                  </div>
                </div>
              </div>
            </li>
          </div>
          <%end%>
          </ul>
        </div>
      </div>
      <% end  %>
    </div>
  </div>
  <div class = "show-right-div">
  </div>
</div>
