<% provide(:title, @user.first_name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.first_name %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.buses.any? %>
    <h3>CTA Bus Routes</h3>
      <ul class="buses">
        <% @bustimes.each do |bus| %>
          <li>
            <%= bus["bustime-response"]["prd"][0]["rt"]%>
            <%= bus["bustime-response"]["prd"][0]["stpnm"]%>
            <%= bus["bustime-response"]["prd"][0]["rtdir"] + " to "%>
            <%= bus["bustime-response"]["prd"][0]["des"]%>
            <%= bus["bustime-response"]["prd"][0] ? bus["bustime-response"]["prd"][0]["prdctdn"] : "n/a"%>
            <%= bus["bustime-response"]["prd"][1] ? bus["bustime-response"]["prd"][1]["prdctdn"] : "n/a"%>
            <%= bus["bustime-response"]["prd"][2] ? bus["bustime-response"]["prd"][2]["prdctdn"] : "n/a"%>
            <%= link_to "Refresh Times", current_user %>
          </li>
        <%end%>
      </ul>
    <% end %>
  </div>
  <button >Refresh Times</button>


</div>
