<li><%= link_to "Washington/Wells", ltrainsave_path(rt: "Brn", destNm: "Kimball", staNm: "Washington/Wells", stpId: "30142"), class: "route-button" %></li>
<li><%= link_to "Quincy/Wells", ltrainsave_path(rt: "Brn", destNm: "Kimball", staNm: "Quincy/Wells", stpId: "30008"), class: "route-button" %></li>
<li><%= link_to "LaSalle/Van Buren", ltrainsave_path(rt: "Brn", destNm: "Kimball", staNm: "LaSalle/Van Buren", stpId: "30030"), class: "route-button" %></li>
<li><%= link_to "Harold Washington Library", ltrainsave_path(rt: "Brn", destNm: "Kimball", staNm: "Harold Washington Library", stpId: "30165"), class: "route-button" %></li>
<li><%= link_to "Adams/Wabash", ltrainsave_path(rt: "Brn", destNm: "Kimball", staNm: "Adams/Wabash", stpId: "30131"), class: "route-button" %></li>
<li><%= link_to "Randolph/Wabash", ltrainsave_path(rt: "Brn", destNm: "Kimball", staNm: "Randolph/Wabash", stpId: "30038"), class: "route-button" %></li>
<li><%= link_to "State/Lake", ltrainsave_path(rt: "Brn", destNm: "Kimball", staNm: "State/Lake", stpId: "30051"), class: "route-button" %></li>
<li><%= link_to "Clark/Lake", ltrainsave_path(rt: "Brn", destNm: "Kimball", staNm: "Clark/Lake", stpId: "30075"), class: "route-button" %></li>
<li><%= link_to "Merchandise Mart", ltrainsave_path(rt: "Brn", destNm: "Kimball", staNm: "Merchandise Mart", stpId: "30090"), class: "route-button" %></li>
<li><%= link_to "Chicago", ltrainsave_path(rt: "Brn", destNm: "Kimball", staNm: "Chicago", stpId: "30137"), class: "route-button" %></li>
<li><%= link_to "Sedgwick", ltrainsave_path(rt: "Brn", destNm: "Kimball", staNm: "Sedgwick", stpId: "30155"), class: "route-button" %></li>
<li><%= link_to "Armitage", ltrainsave_path(rt: "Brn", destNm: "Kimball", staNm: "Armitage", stpId: "30127"), class: "route-button" %></li>
<li><%= link_to "Fullerton", ltrainsave_path(rt: "Brn", destNm: "Kimball", staNm: "Fullerton", stpId: "30235"), class: "route-button" %></li>
<li><%= link_to "Diversey", ltrainsave_path(rt: "Brn", destNm: "Kimball", staNm: "Diversey", stpId: "30103"), class: "route-button" %></li>
<li><%= link_to "Wellington", ltrainsave_path(rt: "Brn", destNm: "Kimball", staNm: "Wellington", stpId: "30231"), class: "route-button" %></li>
<li><%= link_to "Belmont", ltrainsave_path(rt: "Brn", destNm: "Kimball", staNm: "Belmont", stpId: "30257"), class: "route-button" %></li>
<li><%= link_to "Southport", ltrainsave_path(rt: "Brn", destNm: "Kimball", staNm: "Southport", stpId: "30070"), class: "route-button" %></li>
<li><%= link_to "Paulina", ltrainsave_path(rt: "Brn", destNm: "Kimball", staNm: "Paulina", stpId: "30253"), class: "route-button" %></li>
<li><%= link_to "Addison", ltrainsave_path(rt: "Brn", destNm: "Kimball", staNm: "Addison", stpId: "30277"), class: "route-button" %></li>
<li><%= link_to "Irving Park", ltrainsave_path(rt: "Brn", destNm: "Kimball", staNm: "Irving Park", stpId: "30281"), class: "route-button" %></li>
<li><%= link_to "Montrose", ltrainsave_path(rt: "Brn", destNm: "Kimball", staNm: "Montrose", stpId: "30287"), class: "route-button" %></li>
<li><%= link_to "Damen", ltrainsave_path(rt: "Brn", destNm: "Kimball", staNm: "Damen", stpId: "30018"), class: "route-button" %></li>
<li><%= link_to "Western", ltrainsave_path(rt: "Brn", destNm: "Kimball", staNm: "Western", stpId: "30283"), class: "route-button" %></li>
<li><%= link_to "Rockwell", ltrainsave_path(rt: "Brn", destNm: "Kimball", staNm: "Rockwell", stpId: "30195"), class: "route-button" %></li>
<li><%= link_to "Francisco", ltrainsave_path(rt: "Brn", destNm: "Kimball", staNm: "Francisco", stpId: "30167"), class: "route-button" %></li>
<li><%= link_to "Kedzie", ltrainsave_path(rt: "Brn", destNm: "Kimball", staNm: "Kedzie", stpId: "30225"), class: "route-button" %></li>
