<li><%= link_to "Midway", ltrainsave_path(rt: "Org", destNm: "Loop", staNm: "Midway", stpId: "30181"), class: "route-button" %></li>
<li><%= link_to "Pulaski", ltrainsave_path(rt: "Org", destNm: "Loop", staNm: "Pulaski", stpId: "30185"), class: "route-button" %></li>
<li><%= link_to "Kedzie", ltrainsave_path(rt: "Org", destNm: "Loop", staNm: "Kedzie", stpId: "30219"), class: "route-button" %></li>
<li><%= link_to "Western", ltrainsave_path(rt: "Org", destNm: "Loop", staNm: "Western", stpId: "30060"), class: "route-button" %></li>
<li><%= link_to "35th/Archer", ltrainsave_path(rt: "Org", destNm: "Loop", staNm: "35th/Archer", stpId: "30022"), class: "route-button" %></li>
<li><%= link_to "Ashland", ltrainsave_path(rt: "Org", destNm: "Loop", staNm: "Ashland", stpId: "30205"), class: "route-button" %></li>
<li><%= link_to "Halsted", ltrainsave_path(rt: "Org", destNm: "Loop", staNm: "Halsted", stpId: "30215"), class: "route-button" %></li>
<li><%= link_to "Roosevelt", ltrainsave_path(rt: "Org", destNm: "Loop", staNm: "Roosevelt", stpId: "30080"), class: "route-button" %></li>
