<li><%= link_to "Howard", ltrainsave_path(rt: "P", destNm: "Linden", staNm: "Howard", stpId: "30175"), class: "route-button" %></li>
<li><%= link_to "South Boulevard", ltrainsave_path(rt: "P", destNm: "Linden", staNm: "South Boulevard", stpId: "30163"), class: "route-button" %></li>
<li><%= link_to "Main", ltrainsave_path(rt: "P", destNm: "Linden", staNm: "Main", stpId: "30052"), class: "route-button" %></li>
<li><%= link_to "Dempster", ltrainsave_path(rt: "P", destNm: "Linden", staNm: "Dempster", stpId: "30133"), class: "route-button" %></li>
<li><%= link_to "Davis", ltrainsave_path(rt: "P", destNm: "Linden", staNm: "Davis", stpId: "30010"), class: "route-button" %></li>
<li><%= link_to "Foster", ltrainsave_path(rt: "P", destNm: "Linden", staNm: "Foster", stpId: "30101"), class: "route-button" %></li>
<li><%= link_to "Noyes", ltrainsave_path(rt: "P", destNm: "Linden", staNm: "Noyes", stpId: "30078"), class: "route-button" %></li>
<li><%= link_to "Central", ltrainsave_path(rt: "P", destNm: "Linden", staNm: "Central", stpId: "30241"), class: "route-button" %></li>
<li><%= link_to "Clark/Lake", ltrainsave_path(rt: "P", destNm: "Linden", staNm: "Clark/Lake", stpId: "30074"), class: "route-button" %></li>
<li><%= link_to "State/Lake", ltrainsave_path(rt: "P", destNm: "Linden", staNm: "State/Lake", stpId: "30050"), class: "route-button" %></li>
<li><%= link_to "Randolph/Wabash", ltrainsave_path(rt: "P", destNm: "Linden", staNm: "Randolph/Wabash", stpId: "30039"), class: "route-button" %></li>
<li><%= link_to "Adams/Wabash", ltrainsave_path(rt: "P", destNm: "Linden", staNm: "Adams/Wabash", stpId: "30132"), class: "route-button" %></li>
<li><%= link_to "Harold Washington Library", ltrainsave_path(rt: "P", destNm: "Linden", staNm: "Harold Washington Library", stpId: "30166"), class: "route-button" %></li>
<li><%= link_to "LaSalle/Van Buren", ltrainsave_path(rt: "P", destNm: "Linden", staNm: "LaSalle/Van Buren", stpId: "30031"), class: "route-button" %></li>
<li><%= link_to "Quincy/Wells", ltrainsave_path(rt: "P", destNm: "Linden", staNm: "Quincy/Wells", stpId: "30007"), class: "route-button" %></li>
<li><%= link_to "Washington/Wells", ltrainsave_path(rt: "P", destNm: "Linden", staNm: "Washington/Wells", stpId: "30141"), class: "route-button" %></li>
<li><%= link_to "Merchandise Mart", ltrainsave_path(rt: "P", destNm: "Linden", staNm: "Merchandise Mart", stpId: "30090"), class: "route-button" %></li>
<li><%= link_to "Chicago", ltrainsave_path(rt: "P", destNm: "Linden", staNm: "Chicago", stpId: "30137"), class: "route-button" %></li>
<li><%= link_to "Sedgwick", ltrainsave_path(rt: "P", destNm: "Linden", staNm: "Sedgwick", stpId: "30155"), class: "route-button" %></li>
<li><%= link_to "Armitage", ltrainsave_path(rt: "P", destNm: "Linden", staNm: "Armitage", stpId: "30127"), class: "route-button" %></li>
<li><%= link_to "Fullerton", ltrainsave_path(rt: "P", destNm: "Linden", staNm: "Fullerton", stpId: "30235"), class: "route-button" %></li>
<li><%= link_to "Diversey", ltrainsave_path(rt: "P", destNm: "Linden", staNm: "Diversey", stpId: "30103"), class: "route-button" %></li>
<li><%= link_to "Wellington", ltrainsave_path(rt: "P", destNm: "Linden", staNm: "Wellington", stpId: "30231"), class: "route-button" %></li>
<li><%= link_to "Belmont", ltrainsave_path(rt: "P", destNm: "Linden", staNm: "Belmont", stpId: "30257"), class: "route-button" %></li>
