<div class = "show-container">
  <div class = "show-left-div">
  </div>
  <div class = "show-main-div">
    <div class = "main-flex-container">
      <div class = "section-title">
        <h2 class = "title">L Stations<h2>
      </div>
      <div class = "login-container">
        <div class = "button">
          <section class="ltrainroute_form">
            <ul class = "route-ul">
              <% if params[:rt] == "Red" && params[:destNm] == "Howard"  %>
                <%= render 'lstations/red-howard_form' %>
              <% elsif params[:rt] == "Red" && params[:destNm] == "95th" %>
                <%= render 'lstations/red-95th_form' %>
              <% elsif params[:rt] == "Blue" && params[:destNm] == "O'Hare" %>
                <%= render "lstations/blue-o'hare_form" %>
              <% elsif params[:rt] == "Blue" && params[:destNm] == "Forest Park" %>
                <%= render 'lstations/blue-forestpark_form' %>
              <% elsif params[:rt] == "Brn" && params[:destNm] == "Kimball" %>
                <%= render 'lstations/brown-kimball_form' %>
              <% elsif params[:rt] == "Brn" && params[:destNm] == "Loop" %>
                <%= render 'lstations/brown-loop_form' %>
              <% elsif params[:rt] == "G" && params[:destNm] == "Harlem" %>
                <%= render 'lstations/green-harlem_form' %>
              <% elsif params[:rt] == "G" && params[:destNm] == "63rd/Ashland/Cottage Grove" %>
                <%= render 'lstations/green-63rd_form' %>
              <% elsif params[:rt] == "Org" && params[:destNm] == "Midway" %>
                <%= render 'lstations/orange-midway_form' %>
              <% elsif params[:rt] == "Org" && params[:destNm] == "Loop" %>
                <%= render 'lstations/orange-loop_form' %>
              <% elsif params[:rt] == "P" && params[:destNm] == "Linden" %>
                <%= render 'lstations/purple-linden_form' %>
              <% elsif params[:rt] == "P" && params[:destNm] == "Loop" %>
                <%= render 'lstations/purple-loop_form' %>
              <% elsif params[:rt] == "Pink" && params[:destNm] == "54th/Cermack" %>
                <%= render 'lstations/pink-54th_form' %>
              <% elsif params[:rt] == "Pink" && params[:destNm] == "Loop" %>
                <%= render 'lstations/pink-loop_form' %>
              <% elsif params[:rt] == "Y" && params[:destNm] == "Dempster-Skokie" %>
                <%= render 'lstations/yellow-skokie_form' %>
              <% else params[:rt] == "Y" && params[:destNm] == "Howard" %>
                <%= render 'lstations/yellow-howard_form' %>
              <% end %>
            </ul>
          </section>
        </div>
      </div>
    </div>
  </div>
  <div class = "show-right-div">
  </div>
</div>
