<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="addroute_form">
        <%= render 'shared/addroute_form' %>
      </section>
    </aside>
  </div>
<% else %>
  <div class="main-body">
    <div class = "main-left">
    </div>
    <div class = "main-center">
      <div class = "main-container">
        <div class = "main-logo">
          <%= image_tag("logo.png", alt: "Rails logo") %>
        </div>
        <div class = "login">
          <div class = "button">
            <%= link_to "Log In", login_path, class: "custom-button" %>
          </div>
        </div>
        <div class = "register">
          <div class = "button">
            <%= link_to "Sign up now!", signup_path, class: "custom-button" %>
          </div>
        </div>
      </div>
    </div>
    <div class = "main-left">
    </div>
  </div>
<% end %>
